In [429]:
import pandas as pd
import os
import csv
from pathlib import Path
import datetime as dt
from uszipcode import SearchEngine

In [430]:
file_to_load = "./resources_mhardy/Sale_Prices_City.csv/Sale_Prices_City_2011.csv"
sale_price_df = pd.read_csv(file_to_load, low_memory=False)
sale_price_df

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2011-01,2011-02,2011-03,2011-04,2011-05,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,462700.0,466200.0,465600.0,469500.0,471300.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,1,12447,Los Angeles,California,2,350300.0,353000.0,344300.0,347400.0,342900.0,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,2,39051,Houston,Texas,3,139700.0,138100.0,133200.0,131100.0,129900.0,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,3,17426,Chicago,Illinois,4,188500.0,189400.0,186300.0,177700.0,167900.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,4,6915,San Antonio,Texas,5,135800.0,131600.0,130700.0,129000.0,130900.0,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,3723,40400,Port Bolivar,Texas,3724,NaN,NaN,NaN,NaN,NaN,...,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0
3724,3724,397820,Long Beach Township,New Jersey,3725,NaN,NaN,NaN,NaN,NaN,...,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN
3725,3725,37346,Beech Mountain,North Carolina,3726,NaN,NaN,NaN,NaN,NaN,...,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0
3726,3726,34991,Corolla,North Carolina,3727,NaN,NaN,NaN,NaN,NaN,...,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN
3727,3727,52829,La Vernia,Texas,3728,NaN,NaN,NaN,NaN,NaN,...,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0

In [431]:
clean_sale_df = sale_price_df.dropna()
clean_sale_df = clean_sale_df.drop(columns=['Unnamed: 0'], axis=1)
clean_sale_df

,RegionID,RegionName,StateName,SizeRank,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,6181,New York,New York,1,462700.0,466200.0,465600.0,469500.0,471300.0,468600.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
3,17426,Chicago,Illinois,4,188500.0,189400.0,186300.0,177700.0,167900.0,174700.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
7,18959,Las Vegas,Nevada,8,115600.0,114000.0,110800.0,109600.0,108200.0,107500.0,...,266000.0,268200.0,268400.0,270400.0,272200.0,274400.0,277500.0,278900.0,283000.0,284700.0
9,38128,Dallas,Texas,10,191900.0,184500.0,174500.0,152000.0,162900.0,171400.0,...,300600.0,301100.0,301500.0,310100.0,314600.0,316900.0,307100.0,321500.0,315500.0,321700.0
18,10920,Columbus,Ohio,19,89100.0,86000.0,79800.0,79300.0,78600.0,82300.0,...,152600.0,154800.0,158500.0,157700.0,162900.0,166600.0,172700.0,175300.0,173600.0,177600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3703,48710,Arnold,California,3704,266300.0,244200.0,217800.0,191200.0,201500.0,208400.0,...,326500.0,317800.0,293100.0,281000.0,279100.0,279400.0,287100.0,305300.0,325600.0,345100.0
3713,12306,Langhorne,Pennsylvania,3714,272300.0,291500.0,305600.0,342300.0,342600.0,329400.0,...,339800.0,371300.0,358600.0,366800.0,362400.0,396600.0,398200.0,404100.0,397100.0,416200.0
3715,33433,Pingree Grove,Illinois,3716,203600.0,175600.0,170200.0,184800.0,198900.0,191800.0,...,206200.0,198200.0,214700.0,211800.0,217500.0,250200.0,270300.0,260200.0,224300.0,216600.0
3717,32133,Idyllwild,California,3718,182900.0,225000.0,230500.0,240100.0,182500.0,183700.0,...,313500.0,309100.0,322400.0,321300.0,342400.0,330500.0,353800.0,355500.0,389300.0,360100.0
3721,50339,Sea Isle City,New Jersey,3722,500500.0,538200.0,543800.0,533600.0,552300.0,536300.0,...,718400.0,743300.0,762300.0,820300.0,783400.0,789700.0,776600.0,811700.0,815700.0,795900.0

In [432]:
# export csv
# file_path = Path("./resources_mhardy/Sale_Prices_City.csv/Sale_Prices_City_sample.csv")
# clean_sale_df.to_csv(file_path, index=False)

In [433]:
# getting ready to transpose data so its indexed by timeframe
# first, drop useless columns
time_df = clean_sale_df.drop(columns=["RegionName", "StateName", "SizeRank"])
time_df

,RegionID,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,6181,462700.0,466200.0,465600.0,469500.0,471300.0,468600.0,469500.0,470800.0,476700.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
3,17426,188500.0,189400.0,186300.0,177700.0,167900.0,174700.0,182900.0,189300.0,190000.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
7,18959,115600.0,114000.0,110800.0,109600.0,108200.0,107500.0,105500.0,102700.0,102200.0,...,266000.0,268200.0,268400.0,270400.0,272200.0,274400.0,277500.0,278900.0,283000.0,284700.0
9,38128,191900.0,184500.0,174500.0,152000.0,162900.0,171400.0,177500.0,179200.0,178100.0,...,300600.0,301100.0,301500.0,310100.0,314600.0,316900.0,307100.0,321500.0,315500.0,321700.0
18,10920,89100.0,86000.0,79800.0,79300.0,78600.0,82300.0,84200.0,87600.0,87500.0,...,152600.0,154800.0,158500.0,157700.0,162900.0,166600.0,172700.0,175300.0,173600.0,177600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3703,48710,266300.0,244200.0,217800.0,191200.0,201500.0,208400.0,208600.0,200800.0,211900.0,...,326500.0,317800.0,293100.0,281000.0,279100.0,279400.0,287100.0,305300.0,325600.0,345100.0
3713,12306,272300.0,291500.0,305600.0,342300.0,342600.0,329400.0,297500.0,279400.0,294300.0,...,339800.0,371300.0,358600.0,366800.0,362400.0,396600.0,398200.0,404100.0,397100.0,416200.0
3715,33433,203600.0,175600.0,170200.0,184800.0,198900.0,191800.0,176300.0,145700.0,149500.0,...,206200.0,198200.0,214700.0,211800.0,217500.0,250200.0,270300.0,260200.0,224300.0,216600.0
3717,32133,182900.0,225000.0,230500.0,240100.0,182500.0,183700.0,171300.0,174400.0,166400.0,...,313500.0,309100.0,322400.0,321300.0,342400.0,330500.0,353800.0,355500.0,389300.0,360100.0
3721,50339,500500.0,538200.0,543800.0,533600.0,552300.0,536300.0,559600.0,565400.0,566000.0,...,718400.0,743300.0,762300.0,820300.0,783400.0,789700.0,776600.0,811700.0,815700.0,795900.0

In [434]:

time_transposed = time_df.transpose()
time_transposed.reset_index(drop = False, inplace = True)
time_transposed = time_transposed.rename(columns=time_transposed.iloc[0])
time_transposed = time_transposed.drop([0, 0])
time_transposed = time_transposed.rename(columns={"RegionID": 'DATE'})
time_transposed

,DATE,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,13121.0,11093.0,41568.0,...,41536.0,47409.0,21021.0,25643.0,49592.0,48710.0,12306.0,33433.0,32133.0,50339.0
1,2011-01,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,82000.0,201400.0,401100.0,...,237800.0,128400.0,204100.0,432300.0,528100.0,266300.0,272300.0,203600.0,182900.0,500500.0
2,2011-02,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,82800.0,205300.0,386000.0,...,216000.0,148400.0,194000.0,476900.0,482600.0,244200.0,291500.0,175600.0,225000.0,538200.0
3,2011-03,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,85500.0,198800.0,376200.0,...,208800.0,150500.0,192400.0,440900.0,454800.0,217800.0,305600.0,170200.0,230500.0,543800.0
4,2011-04,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,87800.0,198500.0,362800.0,...,229800.0,161600.0,185900.0,457500.0,463300.0,191200.0,342300.0,184800.0,240100.0,533600.0
5,2011-05,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,88800.0,190900.0,370300.0,...,260100.0,131500.0,175900.0,470600.0,475400.0,201500.0,342600.0,198900.0,182500.0,552300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2019-11,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,247400.0,445400.0,566400.0,...,402700.0,343700.0,297200.0,557900.0,530300.0,279400.0,396600.0,250200.0,330500.0,789700.0
108,2019-12,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,251100.0,435500.0,577600.0,...,454400.0,321500.0,292100.0,577100.0,579600.0,287100.0,398200.0,270300.0,353800.0,776600.0
109,2020-01,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,254800.0,435100.0,580100.0,...,499200.0,273700.0,275100.0,557900.0,539400.0,305300.0,404100.0,260200.0,355500.0,811700.0
110,2020-02,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,263500.0,436900.0,575700.0,...,513400.0,314400.0,265400.0,565600.0,609700.0,325600.0,397100.0,224300.0,389300.0,815700.0
111,2020-03,573600.0,309200.0,284700.0,321700.0,177600.0,176200.0,270500.0,442700.0,586100.0,...,487200.0,319400.0,269300.0,579700.0,608700.0,345100.0,416200.0,216600.0,360100.0,795900.0

In [435]:
# convert month column to datetime format
time_transposed['DATE'] = pd.to_datetime(time_transposed['DATE'], infer_datetime_format=True)
time_transposed.dtypes

DATE       datetime64[ns]
6181.0            float64
17426.0           float64
18959.0           float64
38128.0           float64
                ...
48710.0           float64
12306.0           float64
33433.0           float64
32133.0           float64
50339.0           float64
Length: 1098, dtype: object

In [436]:
time_transposed

,DATE,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,13121.0,11093.0,41568.0,...,41536.0,47409.0,21021.0,25643.0,49592.0,48710.0,12306.0,33433.0,32133.0,50339.0
1,2011-01-01,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,82000.0,201400.0,401100.0,...,237800.0,128400.0,204100.0,432300.0,528100.0,266300.0,272300.0,203600.0,182900.0,500500.0
2,2011-02-01,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,82800.0,205300.0,386000.0,...,216000.0,148400.0,194000.0,476900.0,482600.0,244200.0,291500.0,175600.0,225000.0,538200.0
3,2011-03-01,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,85500.0,198800.0,376200.0,...,208800.0,150500.0,192400.0,440900.0,454800.0,217800.0,305600.0,170200.0,230500.0,543800.0
4,2011-04-01,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,87800.0,198500.0,362800.0,...,229800.0,161600.0,185900.0,457500.0,463300.0,191200.0,342300.0,184800.0,240100.0,533600.0
5,2011-05-01,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,88800.0,190900.0,370300.0,...,260100.0,131500.0,175900.0,470600.0,475400.0,201500.0,342600.0,198900.0,182500.0,552300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2019-11-01,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,247400.0,445400.0,566400.0,...,402700.0,343700.0,297200.0,557900.0,530300.0,279400.0,396600.0,250200.0,330500.0,789700.0
108,2019-12-01,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,251100.0,435500.0,577600.0,...,454400.0,321500.0,292100.0,577100.0,579600.0,287100.0,398200.0,270300.0,353800.0,776600.0
109,2020-01-01,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,254800.0,435100.0,580100.0,...,499200.0,273700.0,275100.0,557900.0,539400.0,305300.0,404100.0,260200.0,355500.0,811700.0
110,2020-02-01,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,263500.0,436900.0,575700.0,...,513400.0,314400.0,265400.0,565600.0,609700.0,325600.0,397100.0,224300.0,389300.0,815700.0
111,2020-03-01,573600.0,309200.0,284700.0,321700.0,177600.0,176200.0,270500.0,442700.0,586100.0,...,487200.0,319400.0,269300.0,579700.0,608700.0,345100.0,416200.0,216600.0,360100.0,795900.0

In [437]:
file_path = Path("./resources_mhardy/Sale_Prices_City.csv/time_df_transposed.csv")
time_transposed.to_csv(file_path, index=False)

In [438]:
# start transforming inflation data
# start by loading in the file
file_path = Path("./resources_mhardy/CPIAUCNS/CPIAUCNS.csv")
cpi_df = pd.read_csv(file_path)
cpi_df

            DATE  CPIAUCNS
0     1913-01-01     9.800
1     1913-02-01     9.800
2     1913-03-01     9.800
3     1913-04-01     9.800
4     1913-05-01     9.700
...          ...       ...
1304  2021-09-01   274.310
1305  2021-10-01   276.589
1306  2021-11-01   277.948
1307  2021-12-01   278.802
1308  2022-01-01   281.148

[1309 rows x 2 columns]

In [439]:
cpi_df['DATE'] = pd.to_datetime(cpi_df['DATE'], infer_datetime_format=True)
cpi_df.dtypes

DATE        datetime64[ns]
CPIAUCNS           float64
dtype: object

In [440]:
file_path = Path("./resources_mhardy/Sale_Prices_City.csv/cpi_datetime.csv")
cpi_df.to_csv(file_path, index=False)

In [441]:
time_transposed

,DATE,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,13121.0,11093.0,41568.0,...,41536.0,47409.0,21021.0,25643.0,49592.0,48710.0,12306.0,33433.0,32133.0,50339.0
1,2011-01-01,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,82000.0,201400.0,401100.0,...,237800.0,128400.0,204100.0,432300.0,528100.0,266300.0,272300.0,203600.0,182900.0,500500.0
2,2011-02-01,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,82800.0,205300.0,386000.0,...,216000.0,148400.0,194000.0,476900.0,482600.0,244200.0,291500.0,175600.0,225000.0,538200.0
3,2011-03-01,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,85500.0,198800.0,376200.0,...,208800.0,150500.0,192400.0,440900.0,454800.0,217800.0,305600.0,170200.0,230500.0,543800.0
4,2011-04-01,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,87800.0,198500.0,362800.0,...,229800.0,161600.0,185900.0,457500.0,463300.0,191200.0,342300.0,184800.0,240100.0,533600.0
5,2011-05-01,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,88800.0,190900.0,370300.0,...,260100.0,131500.0,175900.0,470600.0,475400.0,201500.0,342600.0,198900.0,182500.0,552300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2019-11-01,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,247400.0,445400.0,566400.0,...,402700.0,343700.0,297200.0,557900.0,530300.0,279400.0,396600.0,250200.0,330500.0,789700.0
108,2019-12-01,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,251100.0,435500.0,577600.0,...,454400.0,321500.0,292100.0,577100.0,579600.0,287100.0,398200.0,270300.0,353800.0,776600.0
109,2020-01-01,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,254800.0,435100.0,580100.0,...,499200.0,273700.0,275100.0,557900.0,539400.0,305300.0,404100.0,260200.0,355500.0,811700.0
110,2020-02-01,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,263500.0,436900.0,575700.0,...,513400.0,314400.0,265400.0,565600.0,609700.0,325600.0,397100.0,224300.0,389300.0,815700.0
111,2020-03-01,573600.0,309200.0,284700.0,321700.0,177600.0,176200.0,270500.0,442700.0,586100.0,...,487200.0,319400.0,269300.0,579700.0,608700.0,345100.0,416200.0,216600.0,360100.0,795900.0

In [442]:
# build uszipcode engine to assign zipcodes to cities

#engine = SearchEngine()
#zipcodes = engine.by_city_and_state(city="Los Angeles", state="california")
#for zipcode in zipcodes:
 #   print(zipcode.zipcode, zipcode.major_city, zipcode.population)

In [443]:
# let's remove the non-viable locations from our dataset
file_to_load = ("./resources_mhardy/time_df_inflation.csv")
time_inflation_df = pd.read_csv(file_to_load)
time_inflation_df

,DATE,INFLATION,6181,17426,18959,38128,10920,12455,13121,11093,...,41536,47409,21021,25643,49592,48710,12306,33433,32133,50339
0,1/1/2011,220.223,462700,188500,115600,191900,89100,125900,82000,201400,...,237800,128400,204100,432300,528100,266300,272300,203600,182900,500500
1,2/1/2011,221.309,466200,189400,114000,184500,86000,124000,82800,205300,...,216000,148400,194000,476900,482600,244200,291500,175600,225000,538200
2,3/1/2011,223.467,465600,186300,110800,174500,79800,118300,85500,198800,...,208800,150500,192400,440900,454800,217800,305600,170200,230500,543800
3,4/1/2011,224.906,469500,177700,109600,152000,79300,117600,87800,198500,...,229800,161600,185900,457500,463300,191200,342300,184800,240100,533600
4,5/1/2011,225.964,471300,167900,108200,162900,78600,113800,88800,190900,...,260100,131500,175900,470600,475400,201500,342600,198900,182500,552300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,11/1/2019,257.208,571500,264300,274400,316900,166600,174600,247400,445400,...,402700,343700,297200,557900,530300,279400,396600,250200,330500,789700
107,12/1/2019,256.974,575100,270000,277500,307100,172700,176600,251100,435500,...,454400,321500,292100,577100,579600,287100,398200,270300,353800,776600
108,1/1/2020,257.971,571700,281400,278900,321500,175300,170800,254800,435100,...,499200,273700,275100,557900,539400,305300,404100,260200,355500,811700
109,2/1/2020,258.678,568300,302900,283000,315500,173600,173100,263500,436900,...,513400,314400,265400,565600,609700,325600,397100,224300,389300,815700
110,3/1/2020,258.115,573600,309200,284700,321700,177600,176200,270500,442700,...,487200,319400,269300,579700,608700,345100,416200,216600,360100,795900

In [444]:
# import finalized location list so that we can remove the non-viable columns
zipcodes_coords_df = pd.read_csv("./resources_mhardy/zipcodes_coordinates.csv")
zipcodes_coords_df

     RegionID           City       State  Zip Code   Latitude   Longitude
0        6181       New York    New York     10001  40.748418  -73.994147
1       17426        Chicago    Illinois     60601  41.885910  -87.623849
2       18959      Las Vegas      Nevada     89101  36.167540 -115.139739
3       38128         Dallas       Texas     75201  32.785918  -96.798987
4       10920       Columbus        Ohio     43085  40.099379  -83.015356
..        ...            ...         ...       ...        ...         ...
972     33300  Pacific Grove  California     93950  27.392012  -82.641345
973     21839         Fruita    Colorado     81521  40.348777  -74.994791
974     11102         Destin     Florida     32541  38.257253 -120.328708
975     34058    South Ogden        Utah     84401  40.178802  -74.913333
976     26113      New River     Arizona     85087  42.440309  -88.217048

[977 rows x 6 columns]

In [445]:
# turn regionID column into a list
region_list = zipcodes_coords_df['RegionID'].tolist()
region_list

[6181,
 17426,
 18959,
 38128,
 10920,
 12455,
 13121,
 11093,
 41568,
 13373,
 6118,
 5976,
 40152,
 33225,
 54047,
 4172,
 5983,
 44055,
 16846,
 16764,
 11722,
 25574,
 18170,
 20313,
 19533,
 47945,
 11867,
 32503,
 20604,
 53856,
 398849,
 52650,
 26187,
 30258,
 7222,
 17759,
 14701,
 24821,
 34937,
 10215,
 21320,
 25218,
 38438,
 33501,
 54288,
 52998,
 31471,
 40202,
 20317,
 30381,
 11337,
 4054,
 19523,
 40492,
 11529,
 5424,
 40227,
 10843,
 39931,
 38328,
 182023,
 5519,
 20008,
 8097,
 54626,
 398300,
 51297,
 10918,
 12694,
 5914,
 54722,
 51447,
 24174,
 45888,
 33230,
 20793,
 30543,
 17321,
 34278,
 27683,
 11786,
 13234,
 54522,
 16726,
 6103,
 32238,
 33136,
 33024,
 34781,
 44655,
 26751,
 10181,
 30840,
 14208,
 51861,
 34543,
 39420,
 14542,
 17943,
 11726,
 19172,
 11914,
 45548,
 54121,
 41629,
 53636,
 16780,
 18053,
 4626,
 11335,
 6790,
 41446,
 31819,
 45732,
 13699,
 45339,
 25855,
 32489,
 17386,
 33645,
 10917,
 46508,
 32452,
 38992,
 11695,
 39386,
 12773,
 32540,
 53978,
 42150,
 52696,
 39097,
 50779,
 16773,
 41059,
 50741,
 5891,
 23444,
 26534,
 33058,
 54219,
 39558,
 44641,
 41715,
 39398,
 53569,
 10700,
 38968,
 31567,
 44583,
 38581,
 31525,
 53571,
 41587,
 47080,
 10451,
 32563,
 24120,
 39133,
 17453,
 24967,
 7476,
 32311,
 6665,
 46863,
 54529,
 53148,
 51239,
 45243,
 50742,
 6365,
 12864,
 24245,
 27512,
 24359,
 10723,
 398816,
 17191,
 32999,
 16785,
 53360,
 47379,
 13213,
 10727,
 20337,
 398360,
 26561,
 17008,
 37840,
 10530,
 32380,
 26114,
 13167,
 27195,
 46604,
 10815,
 17158,
 52852,
 36296,
 31751,
 24733,
 41574,
 44704,
 41643,
 21412,
 57030,
 10484,
 8043,
 13653,
 53788,
 16697,
 21057,
 10889,
 26374,
 20322,
 5972,
 31829,
 5395,
 46400,
 4216,
 7403,
 17845,
 33256,
 6923,
 26197,
 18029,
 45251,
 26483,
 399216,
 32006,
 32409,
 21203,
 48210,
 25459,
 54212,
 46084,
 53253,
 6736,
 7039,
 30772,
 25953,
 6885,
 4515,
 13693,
 10574,
 10940,
 10428,
 33341,
 33498,
 18874,
 10634,
 32416,
 6021,
 30149,
 7837,
 21017,
 11604,
 25495,
 14541,
 17172,
 25534,
 37015,
 45398,
 21472,
 20514,
 4281,
 12597,
 5239,
 6855,
 47526,
 53752,
 20639,
 126356,
 15894,
 398963,
 52587,
 31861,
 10264,
 20883,
 38809,
 398893,
 24420,
 8384,
 52262,
 5411,
 50985,
 37971,
 31125,
 6032,
 38718,
 30872,
 32697,
 32180,
 53026,
 52480,
 27808,
 28066,
 14603,
 30829,
 46465,
 52082,
 32955,
 52840,
 16554,
 20164,
 26225,
 11626,
 38134,
 126392,
 30527,
 25646,
 24349,
 30785,
 397214,
 5371,
 45602,
 3869,
 25550,
 44568,
 25146,
 44918,
 21417,
 38049,
 31119,
 54450,
 17472,
 53590,
 12426,
 25383,
 39416,
 44836,
 9969,
 10137,
 14016,
 26531,
 52547,
 48433,
 12579,
 4854,
 3425,
 17871,
 17545,
 396491,
 46777,
 7797,
 46965,
 32532,
 5465,
 44833,
 39894,
 10774,
 737790,
 37086,
 12751,
 37799,
 28533,
 12157,
 51751,
 13587,
 10834,
 52905,
 13370,
 6102,
 19055,
 15128,
 33758,
 52391,
 6892,
 7794,
 3699,
 51487,
 20245,
 397621,
 12762,
 4568,
 49352,
 37576,
 32048,
 46503,
 55433,
 15471,
 43088,
 45983,
 4622,
 11921,
 51952,
 18800,
 181663,
 55287,
 33953,
 48438,
 10552,
 10315,
 20789,
 46389,
 32912,
 43936,
 31724,
 37279,
 13218,
 22827,
 54002,
 45221,
 17231,
 23542,
 49611,
 33117,
 43490,
 6507,
 19967,
 26088,
 32923,
 13386,
 30583,
 37995,
 51386,
 5504,
 25112,
 32390,
 42608,
 13560,
 37757,
 39210,
 5382,
 4271,
 397859,
 4976,
 31546,
 36718,
 55142,
 21014,
 12413,
 6251,
 46780,
 3319,
 18320,
 39405,
 31645,
 47021,
 30338,
 39306,
 53166,
 37063,
 47956,
 31419,
 37601,
 41130,
 47876,
 54053,
 39916,
 46704,
 8283,
 51302,
 11594,
 44042,
 41001,
 3820,
 26779,
 41621,
 37370,
 21355,
 17163,
 19728,
 13181,
 53642,
 34718,
 54320,
 36029,
 32703,
 39769,
 18883,
 32927,
 19811,
 40718,
 33330,
 16807,
 396716,
 22517,
 19911,
 39084,
 4592,
 26213,
 19355,
 38794,
 26215,
 18647,
 51117,
 4375,
 32789,
 13613,
 23050,
 30908,
 30187,
 15135,
 44500,
 16040,
 51954,
 52353,
 53267,
 33840,
 6746,
 8201,
 57132,
 26256,
 49000,
 3731,
 26965,
 26716,
 14111,
 40645,
 48523,
 17546,
 46091,
 16908,
 14192,
 397699,
 21469,
 33967,
 47334,
 42802,
 19100,
 7304,
 13062,
 12446,
 38842,
 7540,
 53925,
 42925,
 53969,
 19230,
 5751,
 32156,
 54058,
 19177,
 41579,
 20425,
 46194,
 8713,
 16684,
 41184,
 11179,
 41014,
 54666,
 12817,
 19005,
 18227,
 43098,
 119842,
 36921,
 14825,
 27181,
 13578,
 29211,
 13650,
 11246,
 25261,
 54056,
 13034,
 35469,
 30331,
 12614,
 20468,
 40446,
 55428,
 397752,
 37206,
 23690,
 26082,
 48099,
 33874,
 26438,
 37499,
 10132,
 56956,
 33155,
 4324,
 46803,
 53581,
 16269,
 29105,
 43839,
 14382,
 17235,
 49547,
 26200,
 36557,
 21281,
 38225,
 51410,
 28595,
 19434,
 43815,
 4826,
 27896,
 50967,
 34613,
 13005,
 50547,
 396727,
 29459,
 53676,
 24372,
 33039,
 32157,
 46076,
 7765,
 17818,
 34749,
 33935,
 398437,
 17469,
 8878,
 6916,
 44598,
 47783,
 5624,
 4167,
 18879,
 10581,
 24926,
 23805,
 32014,
 26158,
 38060,
 16309,
 40869,
 10762,
 23523,
 32492,
 34545,
 18758,
 11940,
 9655,
 7053,
 40979,
 18263,
 4474,
 46488,
 32525,
 46734,
 54190,
 12995,
 14160,
 30411,
 29737,
 32970,
 31937,
 13056,
 397497,
 26248,
 26365,
 6368,
 13038,
 46887,
 20679,
 10769,
 37968,
 11805,
 37738,
 46582,
 54600,
 12151,
 42967,
 37272,
 4790,
 22544,
 39799,
 16724,
 31666,
 31170,
 47889,
 23017,
 14506,
 52835,
 25165,
 395803,
 11441,
 36733,
 40831,
 36041,
 27227,
 46984,
 15560,
 5498,
 21161,
 54754,
 51718,
 29443,
 12515,
 31540,
 24739,
 8587,
 31117,
 5339,
 15449,
 7739,
 52216,
 40018,
 54410,
 31639,
 24444,
 43407,
 51849,
 21319,
 16584,
 12083,
 6050,
 53849,
 51550,
 123944,
 25547,
 7852,
 160335,
 3958,
 44131,
 7009,
 397242,
 33112,
 4242,
 45470,
 45794,
 20176,
 5775,
 10965,
 24634,
 12364,
 398275,
 54483,
 18141,
 47895,
 30275,
 29334,
 42657,
 17049,
 6294,
 6242,
 50972,
 395584,
 398779,
 10661,
 244024,
 119404,
 13105,
 30354,
 39787,
 28195,
 42710,
 21627,
 38008,
 50049,
 56365,
 50009,
 51858,
 157222,
 41031,
 11553,
 396606,
 31298,
 17587,
 18676,
 6055,
 35393,
 7768,
 14948,
 7486,
 25548,
 28306,
 395523,
 5889,
 25828,
 53352,
 7898,
 9366,
 9556,
 5104,
 40081,
 40417,
 36864,
 19296,
 37688,
 44544,
 47198,
 6835,
 17788,
 28341,
 10734,
 6317,
 53472,
 6333,
 3418,
 27354,
 22195,
 46285,
 51349,
 47771,
 31701,
 37737,
 397269,
 6030,
 56889,
 44395,
 44861,
 31695,
 39297,
 23671,
 398151,
 56087,
 40706,
 52591,
 49094,
 56232,
 44124,
 42157,
 23360,
 42716,
 7662,
 7703,
 33825,
 14832,
 43207,
 398735,
 48521,
 6485,
 118878,
 223245,
 53198,
 20262,
 51996,
 24435,
 12423,
 25067,
 38965,
 397869,
 44094,
 56022,
 53977,
 44549,
 27322,
 37931,
 34222,
 26027,
 36693,
 28419,
 8150,
 30723,
 38731,
 11262,
 32209,
 18919,
 39304,
 25607,
 15136,
 34065,
 398283,
 12251,
 52767,
 395893,
 43724,
 34630,
 51023,
 16993,
 54785,
 16560,
 12935,
 24267,
 51547,
 6876,
 42732,
 397230,
 49559,
 12876,
 13091,
 20894,
 34057,
 6769,
 48883,
 8827,
 37217,
 4603,
 39357,
 30522,
 45034,
 53420,
 22854,
 5702,
 11708,
 9020,
 53743,
 18687,
 396551,
 19107,
 24869,
 30611,
 54194,
 11366,
 6274,
 7032,
 33633,
 30760,
 47954,
 5846,
 17184,
 36958,
 10363,
 232121,
 37404,
 52779,
 16840,
 46708,
 23898,
 19002,
 54257,
 396968,
 12477,
 42569,
 120381,
 17889,
 19827,
 48632,
 272485,
 31589,
 38414,
 33015,
 4171,
 18373,
 51492,
 33068,
 396788,
 54702,
 14500,
 33400,
 40001,
 20241,
 5013,
 55057,
 398149,
 7018,
 32661,
 51645,
 30145,
 39223,
 10197,
 13027,
 43964,
 397912,
 52698,
 30526,
 395464,
 396690,
 35381,
 11083,
 18524,
 11982,
 52206,
 50551,
 29344,
 22976,
 4977,
 397390,
 25118,
 4208,
 25474,
 35932,
 20367,
 44192,
 13227,
 55262,
 21337,
 46783,
 53586,
 14803,
 236486,
 33300,
 21839,
 11102,
 34058,
 26113]

In [446]:
# load csv containing viable zipcodes and coordinate pairs
zipcodes_coords_file = ("./resources_mhardy/zipcodes_coordinates.csv")
zipcodes_coords_df = pd.read_csv(zipcodes_coords_file)
zipcodes_coords_df

     RegionID           City       State  Zip Code   Latitude   Longitude
0        6181       New York    New York     10001  40.748418  -73.994147
1       17426        Chicago    Illinois     60601  41.885910  -87.623849
2       18959      Las Vegas      Nevada     89101  36.167540 -115.139739
3       38128         Dallas       Texas     75201  32.785918  -96.798987
4       10920       Columbus        Ohio     43085  40.099379  -83.015356
..        ...            ...         ...       ...        ...         ...
972     33300  Pacific Grove  California     93950  27.392012  -82.641345
973     21839         Fruita    Colorado     81521  40.348777  -74.994791
974     11102         Destin     Florida     32541  38.257253 -120.328708
975     34058    South Ogden        Utah     84401  40.178802  -74.913333
976     26113      New River     Arizona     85087  42.440309  -88.217048

[977 rows x 6 columns]

In [447]:
# create list of regionID's for cities we want
good_id_list = zipcodes_coords_df['RegionID'].tolist()
good_id_list

[6181,
 17426,
 18959,
 38128,
 10920,
 12455,
 13121,
 11093,
 41568,
 13373,
 6118,
 5976,
 40152,
 33225,
 54047,
 4172,
 5983,
 44055,
 16846,
 16764,
 11722,
 25574,
 18170,
 20313,
 19533,
 47945,
 11867,
 32503,
 20604,
 53856,
 398849,
 52650,
 26187,
 30258,
 7222,
 17759,
 14701,
 24821,
 34937,
 10215,
 21320,
 25218,
 38438,
 33501,
 54288,
 52998,
 31471,
 40202,
 20317,
 30381,
 11337,
 4054,
 19523,
 40492,
 11529,
 5424,
 40227,
 10843,
 39931,
 38328,
 182023,
 5519,
 20008,
 8097,
 54626,
 398300,
 51297,
 10918,
 12694,
 5914,
 54722,
 51447,
 24174,
 45888,
 33230,
 20793,
 30543,
 17321,
 34278,
 27683,
 11786,
 13234,
 54522,
 16726,
 6103,
 32238,
 33136,
 33024,
 34781,
 44655,
 26751,
 10181,
 30840,
 14208,
 51861,
 34543,
 39420,
 14542,
 17943,
 11726,
 19172,
 11914,
 45548,
 54121,
 41629,
 53636,
 16780,
 18053,
 4626,
 11335,
 6790,
 41446,
 31819,
 45732,
 13699,
 45339,
 25855,
 32489,
 17386,
 33645,
 10917,
 46508,
 32452,
 38992,
 11695,
 39386,
 12773,
 32540,
 53978,
 42150,
 52696,
 39097,
 50779,
 16773,
 41059,
 50741,
 5891,
 23444,
 26534,
 33058,
 54219,
 39558,
 44641,
 41715,
 39398,
 53569,
 10700,
 38968,
 31567,
 44583,
 38581,
 31525,
 53571,
 41587,
 47080,
 10451,
 32563,
 24120,
 39133,
 17453,
 24967,
 7476,
 32311,
 6665,
 46863,
 54529,
 53148,
 51239,
 45243,
 50742,
 6365,
 12864,
 24245,
 27512,
 24359,
 10723,
 398816,
 17191,
 32999,
 16785,
 53360,
 47379,
 13213,
 10727,
 20337,
 398360,
 26561,
 17008,
 37840,
 10530,
 32380,
 26114,
 13167,
 27195,
 46604,
 10815,
 17158,
 52852,
 36296,
 31751,
 24733,
 41574,
 44704,
 41643,
 21412,
 57030,
 10484,
 8043,
 13653,
 53788,
 16697,
 21057,
 10889,
 26374,
 20322,
 5972,
 31829,
 5395,
 46400,
 4216,
 7403,
 17845,
 33256,
 6923,
 26197,
 18029,
 45251,
 26483,
 399216,
 32006,
 32409,
 21203,
 48210,
 25459,
 54212,
 46084,
 53253,
 6736,
 7039,
 30772,
 25953,
 6885,
 4515,
 13693,
 10574,
 10940,
 10428,
 33341,
 33498,
 18874,
 10634,
 32416,
 6021,
 30149,
 7837,
 21017,
 11604,
 25495,
 14541,
 17172,
 25534,
 37015,
 45398,
 21472,
 20514,
 4281,
 12597,
 5239,
 6855,
 47526,
 53752,
 20639,
 126356,
 15894,
 398963,
 52587,
 31861,
 10264,
 20883,
 38809,
 398893,
 24420,
 8384,
 52262,
 5411,
 50985,
 37971,
 31125,
 6032,
 38718,
 30872,
 32697,
 32180,
 53026,
 52480,
 27808,
 28066,
 14603,
 30829,
 46465,
 52082,
 32955,
 52840,
 16554,
 20164,
 26225,
 11626,
 38134,
 126392,
 30527,
 25646,
 24349,
 30785,
 397214,
 5371,
 45602,
 3869,
 25550,
 44568,
 25146,
 44918,
 21417,
 38049,
 31119,
 54450,
 17472,
 53590,
 12426,
 25383,
 39416,
 44836,
 9969,
 10137,
 14016,
 26531,
 52547,
 48433,
 12579,
 4854,
 3425,
 17871,
 17545,
 396491,
 46777,
 7797,
 46965,
 32532,
 5465,
 44833,
 39894,
 10774,
 737790,
 37086,
 12751,
 37799,
 28533,
 12157,
 51751,
 13587,
 10834,
 52905,
 13370,
 6102,
 19055,
 15128,
 33758,
 52391,
 6892,
 7794,
 3699,
 51487,
 20245,
 397621,
 12762,
 4568,
 49352,
 37576,
 32048,
 46503,
 55433,
 15471,
 43088,
 45983,
 4622,
 11921,
 51952,
 18800,
 181663,
 55287,
 33953,
 48438,
 10552,
 10315,
 20789,
 46389,
 32912,
 43936,
 31724,
 37279,
 13218,
 22827,
 54002,
 45221,
 17231,
 23542,
 49611,
 33117,
 43490,
 6507,
 19967,
 26088,
 32923,
 13386,
 30583,
 37995,
 51386,
 5504,
 25112,
 32390,
 42608,
 13560,
 37757,
 39210,
 5382,
 4271,
 397859,
 4976,
 31546,
 36718,
 55142,
 21014,
 12413,
 6251,
 46780,
 3319,
 18320,
 39405,
 31645,
 47021,
 30338,
 39306,
 53166,
 37063,
 47956,
 31419,
 37601,
 41130,
 47876,
 54053,
 39916,
 46704,
 8283,
 51302,
 11594,
 44042,
 41001,
 3820,
 26779,
 41621,
 37370,
 21355,
 17163,
 19728,
 13181,
 53642,
 34718,
 54320,
 36029,
 32703,
 39769,
 18883,
 32927,
 19811,
 40718,
 33330,
 16807,
 396716,
 22517,
 19911,
 39084,
 4592,
 26213,
 19355,
 38794,
 26215,
 18647,
 51117,
 4375,
 32789,
 13613,
 23050,
 30908,
 30187,
 15135,
 44500,
 16040,
 51954,
 52353,
 53267,
 33840,
 6746,
 8201,
 57132,
 26256,
 49000,
 3731,
 26965,
 26716,
 14111,
 40645,
 48523,
 17546,
 46091,
 16908,
 14192,
 397699,
 21469,
 33967,
 47334,
 42802,
 19100,
 7304,
 13062,
 12446,
 38842,
 7540,
 53925,
 42925,
 53969,
 19230,
 5751,
 32156,
 54058,
 19177,
 41579,
 20425,
 46194,
 8713,
 16684,
 41184,
 11179,
 41014,
 54666,
 12817,
 19005,
 18227,
 43098,
 119842,
 36921,
 14825,
 27181,
 13578,
 29211,
 13650,
 11246,
 25261,
 54056,
 13034,
 35469,
 30331,
 12614,
 20468,
 40446,
 55428,
 397752,
 37206,
 23690,
 26082,
 48099,
 33874,
 26438,
 37499,
 10132,
 56956,
 33155,
 4324,
 46803,
 53581,
 16269,
 29105,
 43839,
 14382,
 17235,
 49547,
 26200,
 36557,
 21281,
 38225,
 51410,
 28595,
 19434,
 43815,
 4826,
 27896,
 50967,
 34613,
 13005,
 50547,
 396727,
 29459,
 53676,
 24372,
 33039,
 32157,
 46076,
 7765,
 17818,
 34749,
 33935,
 398437,
 17469,
 8878,
 6916,
 44598,
 47783,
 5624,
 4167,
 18879,
 10581,
 24926,
 23805,
 32014,
 26158,
 38060,
 16309,
 40869,
 10762,
 23523,
 32492,
 34545,
 18758,
 11940,
 9655,
 7053,
 40979,
 18263,
 4474,
 46488,
 32525,
 46734,
 54190,
 12995,
 14160,
 30411,
 29737,
 32970,
 31937,
 13056,
 397497,
 26248,
 26365,
 6368,
 13038,
 46887,
 20679,
 10769,
 37968,
 11805,
 37738,
 46582,
 54600,
 12151,
 42967,
 37272,
 4790,
 22544,
 39799,
 16724,
 31666,
 31170,
 47889,
 23017,
 14506,
 52835,
 25165,
 395803,
 11441,
 36733,
 40831,
 36041,
 27227,
 46984,
 15560,
 5498,
 21161,
 54754,
 51718,
 29443,
 12515,
 31540,
 24739,
 8587,
 31117,
 5339,
 15449,
 7739,
 52216,
 40018,
 54410,
 31639,
 24444,
 43407,
 51849,
 21319,
 16584,
 12083,
 6050,
 53849,
 51550,
 123944,
 25547,
 7852,
 160335,
 3958,
 44131,
 7009,
 397242,
 33112,
 4242,
 45470,
 45794,
 20176,
 5775,
 10965,
 24634,
 12364,
 398275,
 54483,
 18141,
 47895,
 30275,
 29334,
 42657,
 17049,
 6294,
 6242,
 50972,
 395584,
 398779,
 10661,
 244024,
 119404,
 13105,
 30354,
 39787,
 28195,
 42710,
 21627,
 38008,
 50049,
 56365,
 50009,
 51858,
 157222,
 41031,
 11553,
 396606,
 31298,
 17587,
 18676,
 6055,
 35393,
 7768,
 14948,
 7486,
 25548,
 28306,
 395523,
 5889,
 25828,
 53352,
 7898,
 9366,
 9556,
 5104,
 40081,
 40417,
 36864,
 19296,
 37688,
 44544,
 47198,
 6835,
 17788,
 28341,
 10734,
 6317,
 53472,
 6333,
 3418,
 27354,
 22195,
 46285,
 51349,
 47771,
 31701,
 37737,
 397269,
 6030,
 56889,
 44395,
 44861,
 31695,
 39297,
 23671,
 398151,
 56087,
 40706,
 52591,
 49094,
 56232,
 44124,
 42157,
 23360,
 42716,
 7662,
 7703,
 33825,
 14832,
 43207,
 398735,
 48521,
 6485,
 118878,
 223245,
 53198,
 20262,
 51996,
 24435,
 12423,
 25067,
 38965,
 397869,
 44094,
 56022,
 53977,
 44549,
 27322,
 37931,
 34222,
 26027,
 36693,
 28419,
 8150,
 30723,
 38731,
 11262,
 32209,
 18919,
 39304,
 25607,
 15136,
 34065,
 398283,
 12251,
 52767,
 395893,
 43724,
 34630,
 51023,
 16993,
 54785,
 16560,
 12935,
 24267,
 51547,
 6876,
 42732,
 397230,
 49559,
 12876,
 13091,
 20894,
 34057,
 6769,
 48883,
 8827,
 37217,
 4603,
 39357,
 30522,
 45034,
 53420,
 22854,
 5702,
 11708,
 9020,
 53743,
 18687,
 396551,
 19107,
 24869,
 30611,
 54194,
 11366,
 6274,
 7032,
 33633,
 30760,
 47954,
 5846,
 17184,
 36958,
 10363,
 232121,
 37404,
 52779,
 16840,
 46708,
 23898,
 19002,
 54257,
 396968,
 12477,
 42569,
 120381,
 17889,
 19827,
 48632,
 272485,
 31589,
 38414,
 33015,
 4171,
 18373,
 51492,
 33068,
 396788,
 54702,
 14500,
 33400,
 40001,
 20241,
 5013,
 55057,
 398149,
 7018,
 32661,
 51645,
 30145,
 39223,
 10197,
 13027,
 43964,
 397912,
 52698,
 30526,
 395464,
 396690,
 35381,
 11083,
 18524,
 11982,
 52206,
 50551,
 29344,
 22976,
 4977,
 397390,
 25118,
 4208,
 25474,
 35932,
 20367,
 44192,
 13227,
 55262,
 21337,
 46783,
 53586,
 14803,
 236486,
 33300,
 21839,
 11102,
 34058,
 26113]

In [448]:
time_df

,RegionID,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,6181,462700.0,466200.0,465600.0,469500.0,471300.0,468600.0,469500.0,470800.0,476700.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
3,17426,188500.0,189400.0,186300.0,177700.0,167900.0,174700.0,182900.0,189300.0,190000.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
7,18959,115600.0,114000.0,110800.0,109600.0,108200.0,107500.0,105500.0,102700.0,102200.0,...,266000.0,268200.0,268400.0,270400.0,272200.0,274400.0,277500.0,278900.0,283000.0,284700.0
9,38128,191900.0,184500.0,174500.0,152000.0,162900.0,171400.0,177500.0,179200.0,178100.0,...,300600.0,301100.0,301500.0,310100.0,314600.0,316900.0,307100.0,321500.0,315500.0,321700.0
18,10920,89100.0,86000.0,79800.0,79300.0,78600.0,82300.0,84200.0,87600.0,87500.0,...,152600.0,154800.0,158500.0,157700.0,162900.0,166600.0,172700.0,175300.0,173600.0,177600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3703,48710,266300.0,244200.0,217800.0,191200.0,201500.0,208400.0,208600.0,200800.0,211900.0,...,326500.0,317800.0,293100.0,281000.0,279100.0,279400.0,287100.0,305300.0,325600.0,345100.0
3713,12306,272300.0,291500.0,305600.0,342300.0,342600.0,329400.0,297500.0,279400.0,294300.0,...,339800.0,371300.0,358600.0,366800.0,362400.0,396600.0,398200.0,404100.0,397100.0,416200.0
3715,33433,203600.0,175600.0,170200.0,184800.0,198900.0,191800.0,176300.0,145700.0,149500.0,...,206200.0,198200.0,214700.0,211800.0,217500.0,250200.0,270300.0,260200.0,224300.0,216600.0
3717,32133,182900.0,225000.0,230500.0,240100.0,182500.0,183700.0,171300.0,174400.0,166400.0,...,313500.0,309100.0,322400.0,321300.0,342400.0,330500.0,353800.0,355500.0,389300.0,360100.0
3721,50339,500500.0,538200.0,543800.0,533600.0,552300.0,536300.0,559600.0,565400.0,566000.0,...,718400.0,743300.0,762300.0,820300.0,783400.0,789700.0,776600.0,811700.0,815700.0,795900.0

In [449]:
# remove rows from time_df that aren't in the list of good locations
for index, row in time_df.iterrows():
    if row['RegionID'] not in good_id_list:
        time_df.drop(index, inplace=True)
        
time_df

,RegionID,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,6181,462700.0,466200.0,465600.0,469500.0,471300.0,468600.0,469500.0,470800.0,476700.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
3,17426,188500.0,189400.0,186300.0,177700.0,167900.0,174700.0,182900.0,189300.0,190000.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
7,18959,115600.0,114000.0,110800.0,109600.0,108200.0,107500.0,105500.0,102700.0,102200.0,...,266000.0,268200.0,268400.0,270400.0,272200.0,274400.0,277500.0,278900.0,283000.0,284700.0
9,38128,191900.0,184500.0,174500.0,152000.0,162900.0,171400.0,177500.0,179200.0,178100.0,...,300600.0,301100.0,301500.0,310100.0,314600.0,316900.0,307100.0,321500.0,315500.0,321700.0
18,10920,89100.0,86000.0,79800.0,79300.0,78600.0,82300.0,84200.0,87600.0,87500.0,...,152600.0,154800.0,158500.0,157700.0,162900.0,166600.0,172700.0,175300.0,173600.0,177600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805,33300,578800.0,548500.0,572500.0,567500.0,580200.0,527300.0,517300.0,521600.0,529100.0,...,919600.0,947100.0,860100.0,898400.0,915800.0,945200.0,998400.0,951000.0,971500.0,963700.0
2823,21839,208700.0,223300.0,218900.0,209000.0,196200.0,178400.0,193800.0,186100.0,192000.0,...,287600.0,291000.0,287500.0,283900.0,282000.0,280000.0,294900.0,300800.0,318800.0,327600.0
2829,11102,255900.0,247500.0,230800.0,248200.0,270900.0,269000.0,257400.0,231700.0,221100.0,...,351900.0,375500.0,390000.0,376700.0,370800.0,352500.0,392100.0,386100.0,407300.0,375900.0
2831,34058,163800.0,146400.0,146900.0,151700.0,162400.0,149800.0,137700.0,143600.0,131400.0,...,250700.0,250600.0,253500.0,249300.0,241200.0,238400.0,239000.0,240400.0,246300.0,261200.0
2840,26113,236900.0,214700.0,225100.0,235800.0,238500.0,231500.0,224300.0,217100.0,222700.0,...,410300.0,429300.0,447000.0,469300.0,433300.0,445000.0,438600.0,463600.0,451000.0,445000.0

In [450]:
# recreate transposed dataset
time_transposed = time_df.transpose()
time_transposed.reset_index(drop = False, inplace = True)
time_transposed = time_transposed.rename(columns=time_transposed.iloc[0])
time_transposed = time_transposed.drop([0, 0])
time_transposed = time_transposed.rename(columns={"RegionID": 'DATE'})
time_transposed['DATE'] = pd.to_datetime(time_transposed['DATE'], infer_datetime_format=True)
time_transposed

,DATE,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,13121.0,11093.0,41568.0,...,21337.0,46783.0,53586.0,14803.0,236486.0,33300.0,21839.0,11102.0,34058.0,26113.0
1,2011-01-01,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,82000.0,201400.0,401100.0,...,238200.0,131700.0,208400.0,153000.0,150800.0,578800.0,208700.0,255900.0,163800.0,236900.0
2,2011-02-01,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,82800.0,205300.0,386000.0,...,298900.0,133000.0,199400.0,162000.0,184800.0,548500.0,223300.0,247500.0,146400.0,214700.0
3,2011-03-01,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,85500.0,198800.0,376200.0,...,296000.0,137900.0,185500.0,149000.0,191300.0,572500.0,218900.0,230800.0,146900.0,225100.0
4,2011-04-01,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,87800.0,198500.0,362800.0,...,283800.0,139000.0,188200.0,147500.0,201600.0,567500.0,209000.0,248200.0,151700.0,235800.0
5,2011-05-01,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,88800.0,190900.0,370300.0,...,225500.0,130600.0,197100.0,137300.0,166300.0,580200.0,196200.0,270900.0,162400.0,238500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2019-11-01,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,247400.0,445400.0,566400.0,...,368300.0,176900.0,321200.0,276200.0,290400.0,945200.0,280000.0,352500.0,238400.0,445000.0
108,2019-12-01,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,251100.0,435500.0,577600.0,...,387200.0,173500.0,338700.0,278100.0,272900.0,998400.0,294900.0,392100.0,239000.0,438600.0
109,2020-01-01,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,254800.0,435100.0,580100.0,...,423800.0,175400.0,334300.0,261800.0,264500.0,951000.0,300800.0,386100.0,240400.0,463600.0
110,2020-02-01,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,263500.0,436900.0,575700.0,...,460800.0,179700.0,329000.0,269300.0,258000.0,971500.0,318800.0,407300.0,246300.0,451000.0
111,2020-03-01,573600.0,309200.0,284700.0,321700.0,177600.0,176200.0,270500.0,442700.0,586100.0,...,453400.0,180300.0,323400.0,293500.0,259800.0,963700.0,327600.0,375900.0,261200.0,445000.0

In [451]:
#time_transposed['INFLATION'] = time_transposed.apply(lambda _: '', axis=1)
date_list = time_transposed['DATE'].to_list()
for index, row in cpi_df.iterrows():
    if row['DATE'] not in date_list:
        cpi_df.drop(index, inplace=True)
        
cpi_df= cpi_df.reset_index(drop=True)
cpi_df

          DATE  CPIAUCNS
0   2011-01-01   220.223
1   2011-02-01   221.309
2   2011-03-01   223.467
3   2011-04-01   224.906
4   2011-05-01   225.964
..         ...       ...
106 2019-11-01   257.208
107 2019-12-01   256.974
108 2020-01-01   257.971
109 2020-02-01   258.678
110 2020-03-01   258.115

[111 rows x 2 columns]

In [452]:
time_transposed['CPIAUCNS'] = cpi_df['CPIAUCNS']
cols = ['DATE', 'CPIAUCNS'] + [col for col in time_transposed if col != 'CPIAUCNS' and col != 'DATE']
time_transposed = time_transposed[cols]
time_transposed = time_transposed.rename(columns={"CPIAUCNS": "INFLATION"})
time_transposed = time_transposed.dropna()
time_transposed

,DATE,INFLATION,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,13121.0,11093.0,...,21337.0,46783.0,53586.0,14803.0,236486.0,33300.0,21839.0,11102.0,34058.0,26113.0
1,2011-01-01,221.309,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,82000.0,201400.0,...,238200.0,131700.0,208400.0,153000.0,150800.0,578800.0,208700.0,255900.0,163800.0,236900.0
2,2011-02-01,223.467,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,82800.0,205300.0,...,298900.0,133000.0,199400.0,162000.0,184800.0,548500.0,223300.0,247500.0,146400.0,214700.0
3,2011-03-01,224.906,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,85500.0,198800.0,...,296000.0,137900.0,185500.0,149000.0,191300.0,572500.0,218900.0,230800.0,146900.0,225100.0
4,2011-04-01,225.964,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,87800.0,198500.0,...,283800.0,139000.0,188200.0,147500.0,201600.0,567500.0,209000.0,248200.0,151700.0,235800.0
5,2011-05-01,225.722,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,88800.0,190900.0,...,225500.0,130600.0,197100.0,137300.0,166300.0,580200.0,196200.0,270900.0,162400.0,238500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2019-10-01,257.208,560800.0,264100.0,272200.0,314600.0,162900.0,175400.0,243600.0,440500.0,...,370500.0,173900.0,342600.0,274400.0,289800.0,915800.0,282000.0,370800.0,241200.0,433300.0
107,2019-11-01,256.974,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,247400.0,445400.0,...,368300.0,176900.0,321200.0,276200.0,290400.0,945200.0,280000.0,352500.0,238400.0,445000.0
108,2019-12-01,257.971,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,251100.0,435500.0,...,387200.0,173500.0,338700.0,278100.0,272900.0,998400.0,294900.0,392100.0,239000.0,438600.0
109,2020-01-01,258.678,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,254800.0,435100.0,...,423800.0,175400.0,334300.0,261800.0,264500.0,951000.0,300800.0,386100.0,240400.0,463600.0
110,2020-02-01,258.115,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,263500.0,436900.0,...,460800.0,179700.0,329000.0,269300.0,258000.0,971500.0,318800.0,407300.0,246300.0,451000.0

## Add interest rate data

In [453]:
# examine the interest rate data
interest_file = "./resources_mhardy/fedfunds/FEDFUNDS.csv"
interest_df = pd.read_csv(interest_file)
interest_df['DATE'] = pd.to_datetime(interest_df['DATE'], infer_datetime_format=True)
interest_df

          DATE  FEDFUNDS
0   1954-07-01      0.80
1   1954-08-01      1.22
2   1954-09-01      1.07
3   1954-10-01      0.85
4   1954-11-01      0.83
..         ...       ...
807 2021-10-01      0.08
808 2021-11-01      0.08
809 2021-12-01      0.08
810 2022-01-01      0.08
811 2022-02-01      0.08

[812 rows x 2 columns]

In [454]:
# drop date rows that we don't need
#date_list = time_transposed['DATE'].to_list()
#for index, row in interest_df.iterrows():
#    if row['DATE'] not in date_list:
#        interest_df.drop(index, inplace=True)
#        
#interest_df= interest_df.reset_index(drop=True)
#interest_df

In [455]:
time_transposed = time_transposed.merge(interest_df, how='inner', on='DATE')
time_transposed

,DATE,INFLATION,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,13121.0,11093.0,...,46783.0,53586.0,14803.0,236486.0,33300.0,21839.0,11102.0,34058.0,26113.0,FEDFUNDS
0,2011-01-01,221.309,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,82000.0,201400.0,...,131700.0,208400.0,153000.0,150800.0,578800.0,208700.0,255900.0,163800.0,236900.0,0.17
1,2011-02-01,223.467,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,82800.0,205300.0,...,133000.0,199400.0,162000.0,184800.0,548500.0,223300.0,247500.0,146400.0,214700.0,0.16
2,2011-03-01,224.906,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,85500.0,198800.0,...,137900.0,185500.0,149000.0,191300.0,572500.0,218900.0,230800.0,146900.0,225100.0,0.14
3,2011-04-01,225.964,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,87800.0,198500.0,...,139000.0,188200.0,147500.0,201600.0,567500.0,209000.0,248200.0,151700.0,235800.0,0.10
4,2011-05-01,225.722,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,88800.0,190900.0,...,130600.0,197100.0,137300.0,166300.0,580200.0,196200.0,270900.0,162400.0,238500.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2019-10-01,257.208,560800.0,264100.0,272200.0,314600.0,162900.0,175400.0,243600.0,440500.0,...,173900.0,342600.0,274400.0,289800.0,915800.0,282000.0,370800.0,241200.0,433300.0,1.83
106,2019-11-01,256.974,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,247400.0,445400.0,...,176900.0,321200.0,276200.0,290400.0,945200.0,280000.0,352500.0,238400.0,445000.0,1.55
107,2019-12-01,257.971,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,251100.0,435500.0,...,173500.0,338700.0,278100.0,272900.0,998400.0,294900.0,392100.0,239000.0,438600.0,1.55
108,2020-01-01,258.678,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,254800.0,435100.0,...,175400.0,334300.0,261800.0,264500.0,951000.0,300800.0,386100.0,240400.0,463600.0,1.55
109,2020-02-01,258.115,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,263500.0,436900.0,...,179700.0,329000.0,269300.0,258000.0,971500.0,318800.0,407300.0,246300.0,451000.0,1.58

In [456]:
# add interest data to our master datasource
# time_transposed['FEDFUNDS'] = interest_df['FEDFUNDS']
cols = ['DATE', 'FEDFUNDS'] + [col for col in time_transposed if col != 'FEDFUNDS' and col != 'DATE']
time_transposed = time_transposed[cols]
time_transposed = time_transposed.rename(columns={"FEDFUNDS": "INTEREST_RATES"})
time_transposed = time_transposed.dropna()
time_transposed

,DATE,INTEREST_RATES,INFLATION,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,13121.0,...,21337.0,46783.0,53586.0,14803.0,236486.0,33300.0,21839.0,11102.0,34058.0,26113.0
0,2011-01-01,0.17,221.309,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,82000.0,...,238200.0,131700.0,208400.0,153000.0,150800.0,578800.0,208700.0,255900.0,163800.0,236900.0
1,2011-02-01,0.16,223.467,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,82800.0,...,298900.0,133000.0,199400.0,162000.0,184800.0,548500.0,223300.0,247500.0,146400.0,214700.0
2,2011-03-01,0.14,224.906,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,85500.0,...,296000.0,137900.0,185500.0,149000.0,191300.0,572500.0,218900.0,230800.0,146900.0,225100.0
3,2011-04-01,0.10,225.964,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,87800.0,...,283800.0,139000.0,188200.0,147500.0,201600.0,567500.0,209000.0,248200.0,151700.0,235800.0
4,2011-05-01,0.09,225.722,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,88800.0,...,225500.0,130600.0,197100.0,137300.0,166300.0,580200.0,196200.0,270900.0,162400.0,238500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2019-10-01,1.83,257.208,560800.0,264100.0,272200.0,314600.0,162900.0,175400.0,243600.0,...,370500.0,173900.0,342600.0,274400.0,289800.0,915800.0,282000.0,370800.0,241200.0,433300.0
106,2019-11-01,1.55,256.974,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,247400.0,...,368300.0,176900.0,321200.0,276200.0,290400.0,945200.0,280000.0,352500.0,238400.0,445000.0
107,2019-12-01,1.55,257.971,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,251100.0,...,387200.0,173500.0,338700.0,278100.0,272900.0,998400.0,294900.0,392100.0,239000.0,438600.0
108,2020-01-01,1.55,258.678,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,254800.0,...,423800.0,175400.0,334300.0,261800.0,264500.0,951000.0,300800.0,386100.0,240400.0,463600.0
109,2020-02-01,1.58,258.115,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,263500.0,...,460800.0,179700.0,329000.0,269300.0,258000.0,971500.0,318800.0,407300.0,246300.0,451000.0

## Add the Mortgage Data

In [457]:
# inspect mortgage data
mortgage_file = "./resources_mhardy/mortgage_data_trimmed/Mortgage_data_trimmed.csv"
mortgage_df = pd.read_csv(mortgage_file)
mortgage_df = mortgage_df.rename(columns={'Month': 'DATE', 'Average\nContract\nRate': 'AVG_MORTGAGE_RATE'})
mortgage_df['DATE'] = pd.to_datetime(mortgage_df['DATE'], infer_datetime_format=True)
mortgage_df

          DATE  AVG_MORTGAGE_RATE
0          NaT                NaN
1          NaT                NaN
2   1998-01-01                7.3
3   1998-02-01                7.2
4   1998-03-01                7.2
..         ...                ...
276 2020-11-01                3.0
277 2020-12-01                3.0
278 2021-01-01                3.0
279 2021-02-01                3.0
280 2021-03-01                3.1

[281 rows x 2 columns]

In [458]:
# drop date rows that we don't need
#date_list = time_transposed['DATE'].to_list()
#for index, row in mortgage_df.iterrows():
#    if row['DATE'] not in date_list:
#        mortgage_df.drop(index, inplace=True)
#        
#mortgage_df = mortgage_df.reset_index(drop=True)
#mortgage_df

In [459]:
# add mortgage data to our master datasource
time_transposed = time_transposed.merge(mortgage_df, how='inner', on='DATE')
#time_transposed['AVG_MORTGAGE_RATE'] = mortgage_df['AVG_MORTGAGE_RATE']
cols = ['DATE', 'AVG_MORTGAGE_RATE'] + [col for col in time_transposed if col != 'AVG_MORTGAGE_RATE' and col != 'DATE']
time_transposed = time_transposed[cols]
time_transposed = time_transposed.dropna()
time_transposed

,DATE,AVG_MORTGAGE_RATE,INTEREST_RATES,INFLATION,6181.0,17426.0,18959.0,38128.0,10920.0,12455.0,...,21337.0,46783.0,53586.0,14803.0,236486.0,33300.0,21839.0,11102.0,34058.0,26113.0
0,2011-01-01,4.8,0.17,221.309,462700.0,188500.0,115600.0,191900.0,89100.0,125900.0,...,238200.0,131700.0,208400.0,153000.0,150800.0,578800.0,208700.0,255900.0,163800.0,236900.0
1,2011-02-01,4.9,0.16,223.467,466200.0,189400.0,114000.0,184500.0,86000.0,124000.0,...,298900.0,133000.0,199400.0,162000.0,184800.0,548500.0,223300.0,247500.0,146400.0,214700.0
2,2011-03-01,5.0,0.14,224.906,465600.0,186300.0,110800.0,174500.0,79800.0,118300.0,...,296000.0,137900.0,185500.0,149000.0,191300.0,572500.0,218900.0,230800.0,146900.0,225100.0
3,2011-04-01,4.9,0.10,225.964,469500.0,177700.0,109600.0,152000.0,79300.0,117600.0,...,283800.0,139000.0,188200.0,147500.0,201600.0,567500.0,209000.0,248200.0,151700.0,235800.0
4,2011-05-01,4.9,0.09,225.722,471300.0,167900.0,108200.0,162900.0,78600.0,113800.0,...,225500.0,130600.0,197100.0,137300.0,166300.0,580200.0,196200.0,270900.0,162400.0,238500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2019-10-01,4.0,1.83,257.208,560800.0,264100.0,272200.0,314600.0,162900.0,175400.0,...,370500.0,173900.0,342600.0,274400.0,289800.0,915800.0,282000.0,370800.0,241200.0,433300.0
106,2019-11-01,4.1,1.55,256.974,571500.0,264300.0,274400.0,316900.0,166600.0,174600.0,...,368300.0,176900.0,321200.0,276200.0,290400.0,945200.0,280000.0,352500.0,238400.0,445000.0
107,2019-12-01,4.1,1.55,257.971,575100.0,270000.0,277500.0,307100.0,172700.0,176600.0,...,387200.0,173500.0,338700.0,278100.0,272900.0,998400.0,294900.0,392100.0,239000.0,438600.0
108,2020-01-01,4.1,1.55,258.678,571700.0,281400.0,278900.0,321500.0,175300.0,170800.0,...,423800.0,175400.0,334300.0,261800.0,264500.0,951000.0,300800.0,386100.0,240400.0,463600.0
109,2020-02-01,4.0,1.58,258.115,568300.0,302900.0,283000.0,315500.0,173600.0,173100.0,...,460800.0,179700.0,329000.0,269300.0,258000.0,971500.0,318800.0,407300.0,246300.0,451000.0

## Add the gas price data

In [460]:
# inspect the gas price data
gas_file = "./resources_mhardy/gas_price/gas_price.csv"
gas_df = pd.read_csv(gas_file)
gas_df['DATE'] = pd.to_datetime(gas_df['DATE'], infer_datetime_format=True)
gas_df

          DATE  PRICE_PER_GALLON
0   1993-04-01             1.078
1   1993-05-01             1.100
2   1993-06-01             1.097
3   1993-07-01             1.078
4   1993-08-01             1.062
..         ...               ...
342 2022-10-01             3.384
343 2022-11-01             3.491
344 2022-12-01             3.406
345 2022-01-01             3.413
346 2022-02-01             3.611

[347 rows x 2 columns]

In [461]:
# create temporary CSV
df_file = "./resources_mhardy/temp_df.csv"
gas_df.to_csv(df_file, index=False)

In [462]:
# read temporary csv
new_gas_df = pd.read_csv(df_file)
new_gas_df['DATE'] = pd.to_datetime(new_gas_df['DATE'], infer_datetime_format=True)

new_gas_df

          DATE  PRICE_PER_GALLON
0   1993-04-01             1.078
1   1993-05-01             1.100
2   1993-06-01             1.097
3   1993-07-01             1.078
4   1993-08-01             1.062
..         ...               ...
342 2022-10-01             3.384
343 2022-11-01             3.491
344 2022-12-01             3.406
345 2022-01-01             3.413
346 2022-02-01             3.611

[347 rows x 2 columns]

In [463]:
#time_transposed.merge(new_gas_df, how='inner', on='DATE')

In [464]:
# drop date rows that we don't need
#date_list = time_transposed['DATE'].to_list()
#for index, row in gas_df.iterrows():
#    if row['DATE'] not in date_list:
#        gas_df.drop(index, inplace=True)
#        
#gas_df = gas_df.reset_index(drop=True)
#gas_df

## Load unemployment data

In [465]:
# read unemployment data csv
unemployment_file = "./resources_mhardy/unemployment_data/unemployment_data_usa_only.csv"
unemployment_df = pd.read_csv(unemployment_file)
unemployment_df['TIME'] = pd.to_datetime(unemployment_df['TIME'], infer_datetime_format=True)
unemployment_df = unemployment_df.rename(columns={'TIME': 'DATE', 'Value': 'UNEMPLOYMENT_RATE'})
unemployment_df

          DATE  UNEMPLOYMENT_RATE
0   2010-11-01                9.8
1   2010-12-01                9.3
2   2011-01-01                9.1
3   2011-02-01                9.0
4   2011-03-01                9.0
..         ...                ...
131 2021-10-01                4.6
132 2021-11-01                4.2
133 2021-12-01                3.9
134 2022-01-01                4.0
135 2022-02-01                3.8

[136 rows x 2 columns]

In [466]:
time_transposed = time_transposed.merge(unemployment_df, how='inner', on='DATE')
cols = ['DATE', 'UNEMPLOYMENT_RATE'] + [col for col in time_transposed if col != 'UNEMPLOYMENT_RATE' and col != 'DATE']
time_transposed = time_transposed[cols]
time_transposed

,DATE,UNEMPLOYMENT_RATE,AVG_MORTGAGE_RATE,INTEREST_RATES,INFLATION,6181.0,17426.0,18959.0,38128.0,10920.0,...,21337.0,46783.0,53586.0,14803.0,236486.0,33300.0,21839.0,11102.0,34058.0,26113.0
0,2011-01-01,9.1,4.8,0.17,221.309,462700.0,188500.0,115600.0,191900.0,89100.0,...,238200.0,131700.0,208400.0,153000.0,150800.0,578800.0,208700.0,255900.0,163800.0,236900.0
1,2011-02-01,9.0,4.9,0.16,223.467,466200.0,189400.0,114000.0,184500.0,86000.0,...,298900.0,133000.0,199400.0,162000.0,184800.0,548500.0,223300.0,247500.0,146400.0,214700.0
2,2011-03-01,9.0,5.0,0.14,224.906,465600.0,186300.0,110800.0,174500.0,79800.0,...,296000.0,137900.0,185500.0,149000.0,191300.0,572500.0,218900.0,230800.0,146900.0,225100.0
3,2011-04-01,9.1,4.9,0.10,225.964,469500.0,177700.0,109600.0,152000.0,79300.0,...,283800.0,139000.0,188200.0,147500.0,201600.0,567500.0,209000.0,248200.0,151700.0,235800.0
4,2011-05-01,9.0,4.9,0.09,225.722,471300.0,167900.0,108200.0,162900.0,78600.0,...,225500.0,130600.0,197100.0,137300.0,166300.0,580200.0,196200.0,270900.0,162400.0,238500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2019-10-01,3.6,4.0,1.83,257.208,560800.0,264100.0,272200.0,314600.0,162900.0,...,370500.0,173900.0,342600.0,274400.0,289800.0,915800.0,282000.0,370800.0,241200.0,433300.0
106,2019-11-01,3.6,4.1,1.55,256.974,571500.0,264300.0,274400.0,316900.0,166600.0,...,368300.0,176900.0,321200.0,276200.0,290400.0,945200.0,280000.0,352500.0,238400.0,445000.0
107,2019-12-01,3.6,4.1,1.55,257.971,575100.0,270000.0,277500.0,307100.0,172700.0,...,387200.0,173500.0,338700.0,278100.0,272900.0,998400.0,294900.0,392100.0,239000.0,438600.0
108,2020-01-01,3.5,4.1,1.55,258.678,571700.0,281400.0,278900.0,321500.0,175300.0,...,423800.0,175400.0,334300.0,261800.0,264500.0,951000.0,300800.0,386100.0,240400.0,463600.0
109,2020-02-01,3.5,4.0,1.58,258.115,568300.0,302900.0,283000.0,315500.0,173600.0,...,460800.0,179700.0,329000.0,269300.0,258000.0,971500.0,318800.0,407300.0,246300.0,451000.0

In [467]:
# Create new csv file with cleaned data
time_transposed.to_csv("./resources_mhardy/time_df_inflation_cleaned.csv")