In [1]:
import pandas as pd
import os
import csv
from pathlib import Path

In [2]:
file_to_load = "./resources_mhardy/Sale_Prices_City.csv/Sale_Prices_City_2011.csv"
sale_price_df = pd.read_csv(file_to_load, low_memory=False)
sale_price_df

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2011-01,2011-02,2011-03,2011-04,2011-05,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,462700.0,466200.0,465600.0,469500.0,471300.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,1,12447,Los Angeles,California,2,350300.0,353000.0,344300.0,347400.0,342900.0,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,2,39051,Houston,Texas,3,139700.0,138100.0,133200.0,131100.0,129900.0,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,3,17426,Chicago,Illinois,4,188500.0,189400.0,186300.0,177700.0,167900.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,4,6915,San Antonio,Texas,5,135800.0,131600.0,130700.0,129000.0,130900.0,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,3723,40400,Port Bolivar,Texas,3724,NaN,NaN,NaN,NaN,NaN,...,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0
3724,3724,397820,Long Beach Township,New Jersey,3725,NaN,NaN,NaN,NaN,NaN,...,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN
3725,3725,37346,Beech Mountain,North Carolina,3726,NaN,NaN,NaN,NaN,NaN,...,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0
3726,3726,34991,Corolla,North Carolina,3727,NaN,NaN,NaN,NaN,NaN,...,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN
3727,3727,52829,La Vernia,Texas,3728,NaN,NaN,NaN,NaN,NaN,...,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0

In [3]:
clean_sale_df = sale_price_df.dropna()
clean_sale_df

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2011-01,2011-02,2011-03,2011-04,2011-05,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,462700.0,466200.0,465600.0,469500.0,471300.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
3,3,17426,Chicago,Illinois,4,188500.0,189400.0,186300.0,177700.0,167900.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
7,7,18959,Las Vegas,Nevada,8,115600.0,114000.0,110800.0,109600.0,108200.0,...,266000.0,268200.0,268400.0,270400.0,272200.0,274400.0,277500.0,278900.0,283000.0,284700.0
9,9,38128,Dallas,Texas,10,191900.0,184500.0,174500.0,152000.0,162900.0,...,300600.0,301100.0,301500.0,310100.0,314600.0,316900.0,307100.0,321500.0,315500.0,321700.0
18,18,10920,Columbus,Ohio,19,89100.0,86000.0,79800.0,79300.0,78600.0,...,152600.0,154800.0,158500.0,157700.0,162900.0,166600.0,172700.0,175300.0,173600.0,177600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3703,3703,48710,Arnold,California,3704,266300.0,244200.0,217800.0,191200.0,201500.0,...,326500.0,317800.0,293100.0,281000.0,279100.0,279400.0,287100.0,305300.0,325600.0,345100.0
3713,3713,12306,Langhorne,Pennsylvania,3714,272300.0,291500.0,305600.0,342300.0,342600.0,...,339800.0,371300.0,358600.0,366800.0,362400.0,396600.0,398200.0,404100.0,397100.0,416200.0
3715,3715,33433,Pingree Grove,Illinois,3716,203600.0,175600.0,170200.0,184800.0,198900.0,...,206200.0,198200.0,214700.0,211800.0,217500.0,250200.0,270300.0,260200.0,224300.0,216600.0
3717,3717,32133,Idyllwild,California,3718,182900.0,225000.0,230500.0,240100.0,182500.0,...,313500.0,309100.0,322400.0,321300.0,342400.0,330500.0,353800.0,355500.0,389300.0,360100.0
3721,3721,50339,Sea Isle City,New Jersey,3722,500500.0,538200.0,543800.0,533600.0,552300.0,...,718400.0,743300.0,762300.0,820300.0,783400.0,789700.0,776600.0,811700.0,815700.0,795900.0

In [6]:
# export csv
file_path = Path("./resources_mhardy/Sale_Prices_City.csv/Sale_Prices_City_sample.csv")
clean_sale_df.to_csv(file_path, index=False)